/* Import web fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Variables */
:root {
	--main-bg-color: #EEEEEE;
	--main-txt-color: #333333;
	--header-bg-color: #E1E1E1;
	--link-normal-color: #007874;
	--link-hover-color: #003f3d;
	--font-txt: Arial, Helvetica, sans-serif;
}

body {
	padding: 0;
	margin: 0;
	font-family: var(--font-txt);
	background-color: var(--main-bg-color);
}

header {
	background-color: var(--header-bg-color);
}

footer {
	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* text-align: right; */
}

footer p {
	color: #2e2e2e;
	font-size: small;
    text-align: right;
	padding: 0 20px 0 20px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	color: black;
}

hr {
	height:2px;
	border-width:0;
	background-color:#D1D1D1;
}

div#main {
    width: 750px;
    position: fixed;
    left: 50%;
    margin-left: calc(750px / -2);
	padding: 30px;
}

div#desc {
    margin-bottom: -10px;
	padding-top: 20px;
}

div#img-row {
	display: flex;
    justify-content: center;
}

p#desc {
	margin-bottom: 30px;
}

.custom-radio {
	margin: 15px 0 15px 22px;
}

img.tech-img {
	max-width: 15%;
	max-height: auto;
	padding: 0 40px 0 40px;
}

a.icon { 
	text-decoration: none;
}

ul#navigation {
	padding: 25px;
}

#navigation li {
	display: inline;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 0 10px 0 10px;
}

#navigation li a {
	padding-bottom: 7px;
}

#navigation a {
	text-decoration: none;
	color: var(--link-normal-color);
}

#navigation a.active { 
	border-bottom: 2px solid;
}

#navigation a:hover {
	color: var(--link-hover-color);
}

/* TWEAKS */

img#css-img {
	max-width: 12%;
	max-height: auto;
}
